.pointChip {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(185, 185, 185);
    margin: 0px 2px
}

.pointChip.correct {
    background-color: #b8ea2a;
}

.pointChip.incorrect {
    background-color: #ff960d;
}