.Intro {
    padding: 20px;
    font-family: Ubuntu;
    min-height: 100%;
    box-sizing: border-box;

    /* background-image: url('https://res.cloudinary.com/clarapardo/image/upload/v1673201062/F2_eoczzb.png'); */
    background-image: url(https://3dicons.co/3d-gradient.svg), url(https://3dicons.co/footer-gradient.svg);
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: 1100px auto;
}


.Intro h6 {
    font-weight: lighter;
    font-size: 18px;
    margin: 45px 0px 0px;
}

.Intro h1 {
    font-size: 33px;
    margin-top: 10px;
    color: #412d74
}

.Intro .someText {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Intro .start_cta {
    width: fit-content;
    border-radius: 50%;
    background-color: rgb(132, 107, 155);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.Intro .start_cta:hover {
    background-color: rgb(166, 131, 199);
}

.Intro .start_cta>svg {
    color: white;
    width: 30px;
    height: 30px;
    margin: 18px 16px 20px 20px;
}

.Intro .close_cta {
    border: 1px solid #412d74;
    border-radius: 50%;
    width: fit-content;
    cursor: pointer;
}

.Intro .close_cta:hover {
    background-color: rgb(240, 240, 240);
}

.Intro .close_cta:hover>svg {
    transform: rotate(360deg);
    transition: 0.2s;
}

.Intro .close_cta>svg {
    color: #2D2347;
    padding: 5px 4px 1px 5px;
    width: 18px;
    height: 18px;
}

.Intro .disclaimer {
    position: absolute;
    bottom: 35px;
    /* padding-right: 20px; */
    text-align: center;
    width: 90%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width: 768px) {

    .Intro {
        padding: 50px;
    }

    .Intro h6 {
        text-align: center;
    }

    .Intro h1 {
        text-align: center;
    }

    .Intro .someText {
        max-width: 500px;
        line-height: 2;
        margin: auto;
    }

    .Intro .disclaimer {
        width: 30%;
        text-align: center;
        right: 50%;
        transform: translateX(50%);
        font-size: 15px;
        color: rgb(82, 82, 82)
    }
}