.answerChip {
    border: 1px solid #2D2347;
    background-color: white;
    border-radius: 8px;
    /* width: 400px; */
    text-align: center;
    padding: 15px;
    font-weight: bold;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.answerChip:hover {
    /* background-color: rgb(224, 224, 224); */
    background-color: #cbb9ff;
    /* color: white; */
    transition: 0.4s;
}

.answerChip.correctAnswer {
    background-color: #b8ea2a;
    border-color: #b8ea2a;
    color: black;
}

.answerChip.wrongAnswer {
    background-color: #ff8b89;
    border-color: #ff807e;
    color: black;
}

@media (min-width: 768px) {
    .answerChip {
        width: 50%;
        margin: auto;
    }
}