.Game {
    padding: 20px;
    font-family: Ubuntu;
    background-image: url(https://3dicons.co/footer-gradient.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1100px auto;
    height: 100vh;
    box-sizing: border-box;
}

.Game .pointsContainer {
    position: absolute;
    right: 20px;
    top: 20px;
}

.Game .pointsContainer h2 {
    text-align: end;
    font-size: 16px;
    margin-top: 10px;
    color: rgb(185, 185, 185);
    font-weight: lighter;
    color: #412d74;
}

.Game .pointsContainer h2 span {
    font-size: 22px;
    font-weight: bold;
}

.Game .close_cta {
    border: 1px solid #2D2347;
    border-radius: 50%;
    width: fit-content;
    cursor: pointer;
}

.Game .close_cta>svg {
    color: #2D2347;
    padding: 5px 4px 1px 5px;
    width: 18px;
    height: 18px;
}

.Game .close_cta:hover {
    background-color: rgb(240, 240, 240);
}

.Game .close_cta:hover>svg {
    transform: rotate(360deg);
    transition: 0.2s;
}


/* POPUP CLOSE */
.close_popup h2 {
    font-family: Ubuntu !important;
    letter-spacing: normal;
    font-weight: normal;
    text-align: center;
    padding-bottom: 0px;
    font-size: 25px;
}

.close_popup p {
    font-family: Ubuntu !important;
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
    color: black
}

.close_popup .MuiPaper-root {
    border-radius: 14px;
    padding: 10px;
}

.close_popup .MuiDialogActions-root {
    display: flex;
    justify-content: center;
}

.close_popup .MuiDialogActions-root>button,
.close_popup .MuiDialogActions-root>a {
    margin: 0 10px
}

.close_popup .MuiDialogActions-root button {
    color: black;
    text-transform: lowercase;
    border-radius: 20px;
    padding: 8px 0px;
    font-size: 18px;
    min-width: 130px;
}

.close_popup .MuiDialogActions-root button:first-child {
    /* background: linear-gradient(195deg, #cfecd0, #ffc5ca); */
    background-color: rgb(167 138 192);
}

.close_popup .MuiDialogActions-root button:last-child {
    /* background: linear-gradient(145deg, #aea4e3, #d3ffe8); */
    background-color: rgb(209, 186, 231);
}

@media (min-width: 768px) {
    .Game {
        padding: 50px 80px 50px 50px;
    }

    .Game .pointsContainer {
        position: absolute;
        right: 80px;
        top: 50px;
    }
}